body{
    background-color: rgb(27, 27, 27);
    margin: 0;
    padding: 0;
    background-image: url(images/zevent18.png)
}
header{
    border-bottom: 2px green solid;
    background-color: black;
}
.btn1{
    display: flex;
    justify-content: left;
}
h1{
    color: green;
    font-size: 35px;   
    text-align: center; 
}
.btn1{
    border-radius: 5%;
}
.btn2{
    border-radius: 5%;
}
.button{
    display: flex;
    justify-content: center;
}

li{
    display: none;
}
.active{
    display: block;
    
}
img{
 margin-left: 10%;
 
}